body {
  font-style: Arial;
  background: black;
}

.animation-box {
  width: 100%;
  height: 50vh;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  position: relative;
}

.animation-container {
  width: 200vw; /* Adjust as needed */
  height: 50vh; /* Adjust as needed */
}

.first-text {
  font-size: 3.5vw; /* Adjust as needed */
  position: absolute;
  left: 2.5%;
  top: 10%;
  opacity: 0;
  animation-name: topFadeOut;
  animation-duration: 10s; /* Increase duration */
  color: white;
}

.second-text {
  font-size: 2.5vw; /* Adjust as needed */
  position: absolute;
  top: 17%;
  opacity: 0;
  animation-name: rightFadeInOut;
  animation-delay: 6s; /* Adjust delay */
  animation-duration: 10s; /* Increase duration */
  color: #ccc;
}

.third-text {
  transform: rotate(-90deg);
  font-size: 1.5vw; /* Adjust as needed */
  position: absolute;
  left: 45%;
  top: 45%;
  opacity: 0;
  animation-name: topFadeOutVertical;
  animation-delay: 12s; /* Adjust delay */
  animation-duration: 10s; /* Increase duration */
  color: #a3ddf0;
  white-space: nowrap;
}

.fourth-text {
  font-size: 2.5vw; /* Adjust as needed */
  position: absolute;
  top: 21%;
  left: 10%;
  opacity: 0;
  color: #f0a3be;
  animation-name: fadeInOut;
  animation-delay: 14s; /* Adjust delay */
  animation-duration: 10s; /* Increase duration */
}

.fifth-text {
  font-size: 4vw; /* Adjust as needed */
  position: absolute;
  left: 5%;
  bottom: 25%;
  opacity: 0;
  color: #f0eba3;
  animation-name: bottomFadeOut;
  animation-delay: 16s; /* Adjust delay */
  animation-duration: 10s; /* Increase duration */
}

@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  50% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bottomFadeOut {
  0% {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
  }

  50% {
    position: absolute;
    bottom: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes topFadeOutVertical {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  50% {
    position: absolute;
    top: 45%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rightFadeInOut {
  0% {
    position: absolute;
    right: -3rem;
    opacity: 0;
  }

  50% {
    position: absolute;
    right: 10rem;
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 10rem;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}
